{% extends 'staff/base.html' %}

{% block content %}




<div class="post-name">{{ post.title }}</div>


{% if post.photo %}
<p><img class="img-article-left" src="{{post.photo.url}}"></p>
{% endif %}




<p class="cont2">DESCRIPTION: <br>{{ post.content }}</p>
<p class="brand">BRAND: <br>{{ post.brand }}</p>
<p class="size">SIZE: <br>{{ post.size }}</p>
<p class="price-post">PRICE: <br>{{ post.price }}</p>


{% if request.user.is_authenticated %}

{% if user.id == post.user.id %}
<p class="edit-post"><a href="{% url 'update_post' post.slug %}">EDIT</a></p>
<p class="delete-post"><a href="{% url 'delete_post' post.slug %}">DELETE</a></p>
{% endif %}

{% endif %}

{% endblock %}